@import '../../main.scss';


.home{
    @extend .main;
    height: 100vh;
    flex-direction: row;
    overflow-x: hidden;
}

.abstract{
    width: 45%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .abstract-title{
        width: 60%;
        font-size: 4rem;
        text-transform: uppercase;
        color: $font-color;
        font-weight: bold;
        animation: arise 2s;
    }
    .abstract-text{
        width: 60%;
        line-height: 20px;
        color: $font-color;
        margin-top: 10px;
        font-size: 1rem;
        text-align: justify;
        animation: arise 2s;
    }
    .social{
        display: flex;
        align-items: center; 
        position: absolute;
        bottom: 30px;
        left: 9%;
        animation: arise 2s;
        font-size: 25px;

        .abstract-link{
            opacity: 0.5;
            transition: all 0.2s;
            cursor: pointer;

            &:hover{
                opacity: 1;
                transform: scale(1.05);
            }
        }

        .abstract-link:nth-child(2){
            margin-left: 20px;
        }
        .abstract-link:nth-child(3){
            margin-left: 20px;
        }

    }
}

.about{
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:flex-end;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    
    .about-image{
        width: 45%;
        height: 65vh;
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        animation: transition-arise-right 1.5s;
    }
    .profile-image{
        background-image: url(../../assets/img/profile.jpg);
    }
    .portfolio-image{
        background-image: url(../../assets/img/portfolio.jpeg);
    }
}

.about-image:nth-child(1){
    animation: transition-arise-left 1.5s;
}

.about-card{
    width: 45%;
    height: 35vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
    color: $primary-color;
    animation: transition-arise-top 1.5s;

    .about-card-title{
        width: 80%;
        margin: 0 auto;
        text-transform: uppercase;
        font-weight: bold;
    }
    .about-card-text{
        width: 80%;
        margin: 0 auto;
        margin-top: 10px;
    }
}

.about-card:nth-child(2){
    animation: transition-arise-bottom 1.5s;
}


//Animações

@keyframes arise{
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes transition-arise-right{
    0%{ 
        opacity: 0;
        position: relative;
        right:  -20%;
    }
    100%{
        position: relative;
        right: 0;
        opacity: 1;
    }

}

@keyframes transition-arise-left{
    0%{ 
        opacity: 0;
        position: relative;
        left:  -20%;
    }
    100%{
        position: relative;
        left: 0;
        opacity: 1;
    }
}

@keyframes transition-arise-top{
    0%{ 
        opacity: 0;
        position: relative;
        top:  -100%;
    }
    100%{
        position: relative;
        top: 0;
        opacity: 1;
    }

}

@keyframes transition-arise-bottom{
    0%{ 
        opacity: 0;
        position: relative;
        bottom:  -100%;
    }
    100%{
        position: relative;
        bottom: 0;
        opacity: 1;
    }

}

@media all and (min-width: 10px) and (max-width: 767px){
    .abstract{
        width: 100%;

        .abstract-title{
            width: 80%;
        }
        .abstract-text{
            width: 80%;
        }

        .social{ 
            width: 80%;
            justify-content: flex-start;
            position: absolute;
            font-size: 32px;
            bottom: 20px;
            left: 10%;
    
            .abstract-link{
                opacity: 1;
                transition: all 0.2s;
                cursor: pointer;
            }
    
            .abstract-link:nth-child(2){
                margin-left: 50px;
            }
            .abstract-link:nth-child(3){
                margin-left: 50px;
            }
    
        }
    }
    .about{
        display: none;
    }
}